.course{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .green{background-color: green;}

    .red{background-color: red;}
}