.app-box{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.body-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

    &:hover{opacity: 0.5;}
}

.wrap{
    flex: 1 0 auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.header{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 20px;
}