<div class="manage">
  <form [formGroup]="form" class="manage-inputs" (ngSubmit)="onSubmit()">

    <input formControlName="name" type="text" placeholder="Name">

    <input formControlName="date" type="date">

    <button type="submit"> {{editor ? "Edit task" : "Add task"}}</button>
  </form>
    
  <div class="manage-btns">
    <button type="button" (click)="canceleFilter()"> All tasks</button>

    <button type="button" (click)="applyCompletedFilter()">Completed tasks</button>

    <button type="button" (click)="applyUncompletedFilter()">Uncompleted tasks</button>

    <button type="button" (click)="applyOverdueFilter()">Overdue tasks</button>

    <button type="button" (click)="applyUpcomingFilter()">Upcoming deadline tasks</button>
  </div>
</div>