<div class="todo-list">
    <div class="wrap">
        <div class="header">
            <app-header-logo></app-header-logo>

            <app-header-autorise></app-header-autorise>
        </div>

        <div class="body" *ngIf="tasks">
            <app-manage></app-manage>

            <app-paginator [countPages]="tasks.pages" [page]="pagination.page" [count]="pagination.count"></app-paginator>

            <ng-container *ngFor="let task of tasks.tasks">
                <app-task [task]="task"></app-task>
            </ng-container>
        </div>
    </div>

    <app-footer></app-footer>
</div>