.manage{
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    &-btns{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
    }

    &-inputs{
        display: flex;
        padding: 10px;
    }
}